
/* filter section styles */ 




.filter-column {
  /* width: full;  */
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 
  
}

.filter-column h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.filter-options label {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
  color: #666;
 font-weight: 500;
}

.filter-options input[type="checkbox"] {
  margin-right: 10px;
}

.filter-options label:hover {
  color: #007BFF;
}

.filter-options label input[type="checkbox"]:focus {
  outline: none;
  border-color: #007BFF;
}
/* filter section styles */ 